link(rel="stylesheet" type="text/css" href="libs/Framework7/dist/css/framework7.ios.min.css")
link(rel="stylesheet" type="text/css" href="libs/Framework7/dist/css/framework7.ios.colors.min.css")
link(rel="stylesheet" type="text/css" href="css/app.css")
